/*svg starts from here*/ 

.IND{
     background: url(../fonts/IND.svg) no-repeat
}
.AD {
    background: url(../fonts/AD.svg) no-repeat
}

.AE {
    background: url(../fonts/AE.svg) no-repeat
}

.AF {
    background: url(../fonts/AF.svg) no-repeat
}

.AG {
    background: url(../fonts/AG.svg) no-repeat
}

.AI {
    background: url(../fonts/AI.svg) no-repeat
}

.AL {
    background: url(../fonts/AL.svg) no-repeat
}

.AM {
    background: url(../fonts/AM.svg) no-repeat
}

.AO {
    background: url(../fonts/AO.svg) no-repeat
}

.AR {
    background: url(../fonts/AR.svg) no-repeat
}

.AS {
    background: url(../fonts/AS.svg) no-repeat
}

.AT {
    background: url(../fonts/AT.svg) no-repeat
}

.AU {
    background: url(../fonts/AU.svg) no-repeat
}

.AW {
    background: url(../fonts/AW.svg) no-repeat
}

.AX {
    background: url(../fonts/AX.svg) no-repeat
}

.AZ {
    background: url(../fonts/AZ.svg) no-repeat
}

.BA {
    background: url(../fonts/BA.svg) no-repeat
}

.BB {
    background: url(../fonts/BB.svg) no-repeat
}

.BD {
    background: url(../fonts/BD.svg) no-repeat
}

.BE {
    background: url(../fonts/BE.svg) no-repeat
}

.BF {
    background: url(../fonts/BF.svg) no-repeat
}

.BG {
    background: url(../fonts/BG.svg) no-repeat
}

.BH {
    background: url(../fonts/BH.svg) no-repeat
}

.BI {
    background: url(../fonts/BI.svg) no-repeat
}

.BJ {
    background: url(../fonts/BJ.svg) no-repeat
}

.BL {
    background: url(../fonts/BL.svg) no-repeat
}

.BM {
    background: url(../fonts/BM.svg) no-repeat
}

.BN {
    background: url(../fonts/BN.svg) no-repeat
}

.BO {
    background: url(../fonts/BO.svg) no-repeat
}

.BR {
    background: url(../fonts/BR.svg) no-repeat
}

.BS {
    background: url(../fonts/BS.svg) no-repeat
}

.BT {
    background: url(../fonts/BT.svg) no-repeat
}

.BV {
    background: url(../fonts/BV.svg) no-repeat
}

.BW {
    background: url(../fonts/BW.svg) no-repeat
}

.BY {
    background: url(../fonts/BY.svg) no-repeat
}

.BZ {
    background: url(../fonts/BZ.svg) no-repeat
}

.CA {
    background: url(../fonts/CA.svg) no-repeat
}

.CC {
    background: url(../fonts/CC.svg) no-repeat
}

.CD {
    background: url(../fonts/CD.svg) no-repeat
}

.CF {
    background: url(../fonts/CF.svg) no-repeat
}

.CG {
    background: url(../fonts/CG.svg) no-repeat
}

.CH {
    background: url(../fonts/CH.svg) no-repeat
}

.CI {
    background: url(../fonts/CI.svg) no-repeat
}

.CK {
    background: url(../fonts/CK.svg) no-repeat
}

.CL {
    background: url(../fonts/CL.svg) no-repeat
}

.CM {
    background: url(../fonts/CM.svg) no-repeat
}

.CN {
    background: url(../fonts/CN.svg) no-repeat
}

.CO {
    background: url(../fonts/CO.svg) no-repeat
}

.CR {
    background: url(../fonts/CR.svg) no-repeat
}

.CU {
    background: url(../fonts/CU.svg) no-repeat
}

.CV {
    background: url(../fonts/CV.svg) no-repeat
}

.CW {
    background: url(../fonts/CW.svg) no-repeat
}

.CX {
    background: url(../fonts/CX.svg) no-repeat
}

.CY {
    background: url(../fonts/CY.svg) no-repeat
}

.CZ {
    background: url(../fonts/CZ.svg) no-repeat
}

.DE {
    background: url(../fonts/DE.svg) no-repeat
}

.DJ {
    background: url(../fonts/DJ.svg) no-repeat
}

.DK {
    background: url(../fonts/DK.svg) no-repeat
}

.DM {
    background: url(../fonts/DM.svg) no-repeat
}

.DO {
    background: url(../fonts/DO.svg) no-repeat
}

.DZ {
    background: url(../fonts/DZ.svg) no-repeat
}

.EC {
    background: url(../fonts/EC.svg) no-repeat
}

.EE {
    background: url(../fonts/EE.svg) no-repeat
}

.EG {
    background: url(../fonts/EG.svg) no-repeat
}

.ER {
    background: url(../fonts/ER.svg) no-repeat
}

.ES {
    background: url(../fonts/ES.svg) no-repeat
}

.ET {
    background: url(../fonts/ET.svg) no-repeat
}

.EU {
    background: url(../fonts/EU.svg) no-repeat
}

.FI {
    background: url(../fonts/FI.svg) no-repeat
}

.FJ {
    background: url(../fonts/FJ.svg) no-repeat
}

.FK {
    background: url(../fonts/FK.svg) no-repeat
}

.FM {
    background: url(../fonts/FM.svg) no-repeat
}

.FO {
    background: url(../fonts/FO.svg) no-repeat
}

.FR {
    background: url(../fonts/FR.svg) no-repeat
}

.GA {
    background: url(../fonts/GA.svg) no-repeat
}

.GB-ENG {
    background: url(../fonts/GB-ENG.svg) no-repeat
}

.GB-NIR {
    background: url(../fonts/GB-NIR.svg) no-repeat
}

.GB-SCT {
    background: url(../fonts/GB-SCT.svg) no-repeat
}

.GB-WLS {
    background: url(../fonts/GB-WLS.svg) no-repeat
}

.GB-ZET {
    background: url(../fonts/GB-ZET.svg) no-repeat
}

.GB {
    background: url(../fonts/GB.svg) no-repeat
}

.GD {
    background: url(../fonts/GD.svg) no-repeat
}

.GE {
    background: url(../fonts/GE.svg) no-repeat
}

.GF {
    background: url(../fonts/GF.svg) no-repeat
}

.GG {
    background: url(../fonts/GG.svg) no-repeat
}

.GH {
    background: url(../fonts/GH.svg) no-repeat
}

.GI {
    background: url(../fonts/GI.svg) no-repeat
}

.GL {
    background: url(../fonts/GL.svg) no-repeat
}

.GM {
    background: url(../fonts/GM.svg) no-repeat
}

.GN {
    background: url(../fonts/GN.svg) no-repeat
}

.GP {
    background: url(../fonts/GP.svg) no-repeat
}

.GQ {
    background: url(../fonts/GQ.svg) no-repeat
}

.GR {
    background: url(../fonts/GR.svg) no-repeat
}

.GS {
    background: url(../fonts/GS.svg) no-repeat
}

.GT {
    background: url(../fonts/GT.svg) no-repeat
}

.GU {
    background: url(../fonts/GU.svg) no-repeat
}

.GW {
    background: url(../fonts/GW.svg) no-repeat
}

.GY {
    background: url(../fonts/GY.svg) no-repeat
}

.HK {
    background: url(../fonts/HK.svg) no-repeat
}

.HM {
    background: url(../fonts/HM.svg) no-repeat
}

.HN {
    background: url(../fonts/HN.svg) no-repeat
}

.HR {
    background: url(../fonts/HR.svg) no-repeat
}

.HT {
    background: url(../fonts/HT.svg) no-repeat
}

.HU {
    background: url(../fonts/HU.svg) no-repeat
}

.ID {
    background: url(../fonts/ID.svg) no-repeat
}

.IE {
    background: url(../fonts/IE.svg) no-repeat
}

.IL {
    background: url(../fonts/IL.svg) no-repeat
}

.IM {
    background: url(../fonts/IM.svg) no-repeat
}

.IN {
    background: url(../fonts/IN.svg) no-repeat
}

.IO {
    background: url(../fonts/IO.svg) no-repeat
}

.IQ {
    background: url(../fonts/IQ.svg) no-repeat
}

.IR {
    background: url(../fonts/IR.svg) no-repeat
}

.IS {
    background: url(../fonts/IS.svg) no-repeat
}

.IT {
    background: url(../fonts/IT.svg) no-repeat
}

.JE {
    background: url(../fonts/JE.svg) no-repeat
}

.JM {
    background: url(../fonts/JM.svg) no-repeat
}

.JO {
    background: url(../fonts/JO.svg) no-repeat
}

.JP {
    background: url(../fonts/JP.svg) no-repeat
}

.KE {
    background: url(../fonts/KE.svg) no-repeat
}

.KG {
    background: url(../fonts/KG.svg) no-repeat
}

.KH {
    background: url(../fonts/KH.svg) no-repeat
}

.KI {
    background: url(../fonts/KI.svg) no-repeat
}

.KM {
    background: url(../fonts/KM.svg) no-repeat
}

.KN {
    background: url(../fonts/KN.svg) no-repeat
}

.KP {
    background: url(../fonts/KP.svg) no-repeat
}

.KR {
    background: url(../fonts/KR.svg) no-repeat
}

.KW {
    background: url(../fonts/KW.svg) no-repeat
}

.KY {
    background: url(../fonts/KY.svg) no-repeat
}

.KZ {
    background: url(../fonts/KZ.svg) no-repeat
}

.LA {
    background: url(../fonts/LA.svg) no-repeat
}

.LB {
    background: url(../fonts/LB.svg) no-repeat
}

.LC {
    background: url(../fonts/LC.svg) no-repeat
}

.LGBT {
    background: url(../fonts/LGBT.svg) no-repeat
}

.LI {
    background: url(../fonts/LI.svg) no-repeat
}

.LK {
    background: url(../fonts/LK.svg) no-repeat
}

.LR {
    background: url(../fonts/LR.svg) no-repeat
}

.LS {
    background: url(../fonts/LS.svg) no-repeat
}

.LT {
    background: url(../fonts/LT.svg) no-repeat
}

.LU {
    background: url(../fonts/LU.svg) no-repeat
}

.LV {
    background: url(../fonts/LV.svg) no-repeat
}

.LY {
    background: url(../fonts/LY.svg) no-repeat
}

.MA {
    background: url(../fonts/MA.svg) no-repeat
}

.MC {
    background: url(../fonts/MC.svg) no-repeat
}

.MD {
    background: url(../fonts/MD.svg) no-repeat
}

.ME {
    background: url(../fonts/ME.svg) no-repeat
}

.MF {
    background: url(../fonts/MF.svg) no-repeat
}

.MG {
    background: url(../fonts/MG.svg) no-repeat
}

.MH {
    background: url(../fonts/MH.svg) no-repeat
}

.MK {
    background: url(../fonts/MK.svg) no-repeat
}

.ML {
    background: url(../fonts/ML.svg) no-repeat
}

.MM {
    background: url(../fonts/MM.svg) no-repeat
}

.MN {
    background: url(../fonts/MN.svg) no-repeat
}

.MO {
    background: url(../fonts/MO.svg) no-repeat
}

.MP {
    background: url(../fonts/MP.svg) no-repeat
}

.MQ {
    background: url(../fonts/MQ.svg) no-repeat
}

.MR {
    background: url(../fonts/MR.svg) no-repeat
}

.MS {
    background: url(../fonts/MS.svg) no-repeat
}

.MT {
    background: url(../fonts/MT.svg) no-repeat
}

.MU {
    background: url(../fonts/MU.svg) no-repeat
}

.MV {
    background: url(../fonts/MV.svg) no-repeat
}

.MW {
    background: url(../fonts/MW.svg) no-repeat
}

.MX {
    background: url(../fonts/MX.svg) no-repeat
}

.MY {
    background: url(../fonts/MY.svg) no-repeat
}

.MZ {
    background: url(../fonts/MZ.svg) no-repeat
}

.NA {
    background: url(../fonts/NA.svg) no-repeat
}

.NC {
    background: url(../fonts/NC.svg) no-repeat
}

.NE {
    background: url(../fonts/NE.svg) no-repeat
}

.NF {
    background: url(../fonts/NF.svg) no-repeat
}

.NG {
    background: url(../fonts/NG.svg) no-repeat
}

.NI {
    background: url(../fonts/NI.svg) no-repeat
}

.NL {
    background: url(../fonts/NL.svg) no-repeat
}

.NO {
    background: url(../fonts/NO.svg) no-repeat
}

.NP {
    background: url(../fonts/NP.svg) no-repeat
}

.NR {
    background: url(../fonts/NR.svg) no-repeat
}

.NU {
    background: url(../fonts/NU.svg) no-repeat
}

.NZ {
    background: url(../fonts/NZ.svg) no-repeat
}

.OM {
    background: url(../fonts/OM.svg) no-repeat
}

.PA {
    background: url(../fonts/PA.svg) no-repeat
}

.PE {
    background: url(../fonts/PE.svg) no-repeat
}

.PF {
    background: url(../fonts/PF.svg) no-repeat
}

.PG {
    background: url(../fonts/PG.svg) no-repeat
}

.PH {
    background: url(../fonts/PH.svg) no-repeat
}

.PK {
    background: url(../fonts/PK.svg) no-repeat
}

.PL {
    background: url(../fonts/PL.svg) no-repeat
}

.PM {
    background: url(../fonts/PM.svg) no-repeat
}

.PN {
    background: url(../fonts/PN.svg) no-repeat
}

.PR {
    background: url(../fonts/PR.svg) no-repeat
}

.PS {
    background: url(../fonts/PS.svg) no-repeat
}

.PT {
    background: url(../fonts/PT.svg) no-repeat
}

.PW {
    background: url(../fonts/PW.svg) no-repeat
}

.PY {
    background: url(../fonts/PY.svg) no-repeat
}

.QA {
    background: url(../fonts/QA.svg) no-repeat
}

.RE {
    background: url(../fonts/RE.svg) no-repeat
}

.RO {
    background: url(../fonts/RO.svg) no-repeat
}

.RS {
    background: url(../fonts/RS.svg) no-repeat
}

.RU {
    background: url(../fonts/RU.svg) no-repeat
}

.RW {
    background: url(../fonts/RW.svg) no-repeat
}

.SA {
    background: url(../fonts/SA.svg) no-repeat
}

.SB {
    background: url(../fonts/SB.svg) no-repeat
}

.SC {
    background: url(../fonts/SC.svg) no-repeat
}

.SD {
    background: url(../fonts/SD.svg) no-repeat
}

.SE {
    background: url(../fonts/SE.svg) no-repeat
}

.SG {
    background: url(../fonts/SG.svg) no-repeat
}

.SH {
    background: url(../fonts/SH.svg) no-repeat
}

.SI {
    background: url(../fonts/SI.svg) no-repeat
}

.SJ {
    background: url(../fonts/SJ.svg) no-repeat
}

.SK {
    background: url(../fonts/SK.svg) no-repeat
}

.SL {
    background: url(../fonts/SL.svg) no-repeat
}

.SM {
    background: url(../fonts/SM.svg) no-repeat
}

.SN {
    background: url(../fonts/SN.svg) no-repeat
}

.SO {
    background: url(../fonts/SO.svg) no-repeat
}

.SR {
    background: url(../fonts/SR.svg) no-repeat
}

.SS {
    background: url(../fonts/SS.svg) no-repeat
}

.ST {
    background: url(../fonts/ST.svg) no-repeat
}

.SV {
    background: url(../fonts/SV.svg) no-repeat
}

.SX {
    background: url(../fonts/SX.svg) no-repeat
}

.SY {
    background: url(../fonts/SY.svg) no-repeat
}

.SZ {
    background: url(../fonts/SZ.svg) no-repeat
}

.TC {
    background: url(../fonts/TC.svg) no-repeat
}

.TD {
    background: url(../fonts/TD.svg) no-repeat
}

.TF {
    background: url(../fonts/TF.svg) no-repeat
}

.TG {
    background: url(../fonts/TG.svg) no-repeat
}

.TH {
    background: url(../fonts/TH.svg) no-repeat
}

.TJ {
    background: url(../fonts/TJ.svg) no-repeat
}

.TK {
    background: url(../fonts/TK.svg) no-repeat
}

.TL {
    background: url(../fonts/TL.svg) no-repeat
}

.TM {
    background: url(../fonts/TM.svg) no-repeat
}

.TN {
    background: url(../fonts/TN.svg) no-repeat
}

.TO {
    background: url(../fonts/TO.svg) no-repeat
}

.TR {
    background: url(../fonts/TR.svg) no-repeat
}

.TT {
    background: url(../fonts/TT.svg) no-repeat
}

.TV {
    background: url(../fonts/TV.svg) no-repeat
}

.TW {
    background: url(../fonts/TW.svg) no-repeat
}

.TZ {
    background: url(../fonts/TZ.svg) no-repeat
}

.UA {
    background: url(../fonts/UA.svg) no-repeat
}

.UG {
    background: url(../fonts/UG.svg) no-repeat
}

.UM {
    background: url(../fonts/UM.svg) no-repeat
}

.US-CA {
    background: url(../fonts/US-CA.svg) no-repeat
}

.US {
    background: url(../fonts/US.svg) no-repeat
}

.UY {
    background: url(../fonts/UY.svg) no-repeat
}

.UZ {
    background: url(../fonts/UZ.svg) no-repeat
}

.VA {
    background: url(../fonts/VA.svg) no-repeat
}

.VC {
    background: url(../fonts/VC.svg) no-repeat
}

.VE {
    background: url(../fonts/VE.svg) no-repeat
}

.VG {
    background: url(../fonts/VG.svg) no-repeat
}

.VI {
    background: url(../fonts/VI.svg) no-repeat
}

.VN {
    background: url(../fonts/VN.svg) no-repeat
}

.VU {
    background: url(../fonts/VU.svg) no-repeat
}

.WF {
    background: url(../fonts/WF.svg) no-repeat
}

.WS {
    background: url(../fonts/WS.svg) no-repeat
}

.XK {
    background: url(../fonts/XK.svg) no-repeat
}

.YE {
    background: url(../fonts/YE.svg) no-repeat
}

.YT {
    background: url(../fonts/YT.svg) no-repeat
}

.ZA {
    background: url(../fonts/ZA.svg) no-repeat
}

.ZM {
    background: url(../fonts/ZM.svg) no-repeat
}

.ZW {
    background: url(../fonts/ZW.svg) no-repeat
}
/*end fonts_svg css*/
